.project-form-section {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100px;
}

.project-form {
  width: 20%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-form-input,
.project-form-button {
  width: 100%;
}