.project-form-section {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 250px;
}

.project-form-label {
  font-size: 2em;
  font-family: lato;
  color: maroon;
}

.project-form {
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-form-button,
.project-form-input {
  width: 100%;
  height: 50px;
  text-align: center;
  outline-color: maroon;
  font-size: 1em;
  font-weight: 600;
}

.project-form-button:hover {
  background-color: white;
  color: maroon;
}

.project-form-button:focus {
  border: 1px solid maroon;
}

.savePaletteMessage {
  display: flex;
  font-size: 1.2em;
  color: maroon;
}

.message {
  color: maroon;
  font-size: 1.5em;
  font-family: "Satisfy"
}

.orStyle {
  color: maroon;
  font-size: 4em;
  font-family: "Lato";
  margin-left: 25%;
  margin-top: 15%;
}

