.color-cards-container {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: row;
}

.generate-colors-button {
  width: 20%;
  min-height: 40px;
  margin: 10px 40%;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 1.5em;
  outline-color: maroon;
  font-family: "Satisfy";
}

.generated-colors-section {
  margin: 10px 0px;
}

@media only screen and (max-width: 800px) {
  .color-cards-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 70%;
    margin: 0 10%;
  }
  .generate-colors-button {
    width: 35%;
    margin: 20px 30%;
  }
}

@media only screen and (max-width: 667px) {
  .color-cards-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    margin: 0 25%;
  }
  .generate-colors-button {
    width: 80%;
    height: 60px;
    margin: 10px 35%;
  }
}

