.project-header {
  margin: 2%;
  font-family: "Satisfy";
  font-size: 3em;
  color: maroon;
  border-top: 3px solid rgb(61, 134, 199);
  padding-top: 25px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}