body {
  font-family: 'Lato', sans-serif;
}

main {
  display: block;
  justify-content: center;
  margin: 2%;
}

h1 {
  font-size: 4em;
  color: maroon;
  text-align: center;
}

span {
  color:rgb(61, 134, 199);
}

.forms {
  display: inline-flex;
  width: 100%;
}

.orStyle {
  color: maroon;
  font-size: 4em;
  font-family: "Lato";
  margin: 5%;
}


