.palette-form-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 300px;
}

.palette-form-label {
  font-size: 2em;
  font-family: lato;
  color: maroon;
}

.palette-form {
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-palette-input,
.palette-form-input,
.project-selector {
  width: 100%;
  height: 50px;
  text-align: center;
  outline-color: maroon;
  font-size: 1em;
  font-weight: 600;
}

.submit-palette-input:hover {
  background-color: white;
  color: maroon;
}

.submit-palette-input:focus {
  border: 1px solid maroon;
}

.message {
  color: maroon;
  font-size: 1.5em;
  font-family: "Satisfy"
}

@media only screen and (max-width: 667px) {
  .project-selector{
    width: 500px;
    }
  }