.palette-form-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100px;
}

.palette-form {
  width: 20%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center
}

.submit-palette-input,
.palette-form-input,
.project-selector {
  width: 100%;
}