.project-color {
  width: 30px;
  height: 30px;
}

.project-palette {
  display: flex;
  flex-direction: row;
}

.project-palette-container {
  margin: 10px 0px;
}

.palette-name {
  font-size: 20px;
  font-weight: 100;
}